.research-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.research-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  background-color: var(--dl-color-success-300);
}
.research-navlink {
  color: var(--dl-color-gray-white);
  font-family: "Tahoma";
  text-decoration: none;
}
.research-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.research-navlink1 {
  color: var(--dl-color-gray-white);
  font-family: "Tahoma";
  text-decoration: none;
}
.research-navlink2 {
  color: var(--dl-color-gray-white);
  font-family: "Tahoma";
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.research-link {
  color: var(--dl-color-gray-white);
  font-family: "Tahoma";
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.research-navlink3 {
  color: var(--dl-color-gray-white);
  font-family: "Tahoma";
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.research-navlink4 {
  color: var(--dl-color-gray-white);
  font-family: "Tahoma";
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.research-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.research-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.research-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.research-buttons {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.research-burger-menu {
  display: none;
}
.research-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.research-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.research-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.research-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.research-logo {
  height: 2rem;
}
.research-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.research-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.research-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.research-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.research-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.research-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.research-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.research-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.research-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.research-login {
  margin-right: var(--dl-space-space-twounits);
}
.research-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.research-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.research-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.research-container3 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 90%;
  margin: var(--dl-space-space-threeunits);
  display: flex;
  padding: 0px;
  align-items: flex-start;
  justify-content: center;
}
.research-image {
  width: 675px;
  height: 511px;
  object-fit: cover;
}
.research-text07 {
  margin: 0px;
  align-self: center;
  font-family: "Tahoma";
}
.research-social-bar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  padding-bottom: 48px;
  justify-content: center;
}
.research-link1 {
  display: contents;
}
.research-icon10 {
  fill: var(--dl-color-success-300);
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.research-link2 {
  display: contents;
}
.research-icon12 {
  fill: var(--dl-color-success-300);
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.research-link3 {
  display: contents;
}
.research-icon14 {
  fill: var(--dl-color-success-300);
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.research-link4 {
  display: contents;
}
.research-icon16 {
  fill: var(--dl-color-success-300);
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
@media(max-width: 767px) {
  .research-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .research-desktop-menu {
    display: none;
  }
  .research-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .research-text02 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .research-text03 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .research-text04 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .research-text05 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .research-text06 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .research-social-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .research-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .research-mobile-menu {
    padding: 16px;
  }
  .research-social-bar {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
